# Ignore everything under components/, but keep the folder + .gitkeep
/components/**
!/components/
!/components/.gitkeep

# Ignore everything under logs/, but keep the folder + .gitkeep
/logs/**
!/logs/
!/logs/.gitkeep